.heading2 {
  display: block;
  color: #1b4cb8;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  margin-top: 50px;
  text-align: center;
  padding-top: 0px;
}
h1 {
  font-weight: 900;
}
p {
  font-weight: 600;
}
.para1 {
  width: 80%;
  color: rgb(44, 44, 44);
  font-weight: 600;
  margin-left: 100px;
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}
.para1 b {
  color: #1b4cb8;
  font-weight: 600;
}
.para2 {
  width: 80%;
  color: rgb(44, 44, 44);
  font-weight: 600;
  margin-left: 100px;
  margin-top: 20px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
}
.para3 {
  width: 80%;
  color: rgb(44, 44, 44);
  font-weight: 600;
  margin-left: 100px;
  margin-top: 20px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
}
.image_about {
  width: 420px;
  height: 250px;
  margin-left: 440px;
  margin-top: 20px;
  border-radius: 25px;
  margin-right: 130px;
}
.about {
  background-color: white;
  margin-top: 300px;
  width: 100%;
}
@media only screen and (max-width: 960px) {
  .image_about {
    padding-top: 20px;
    margin: 0;
    width: 360px;
  }
  .para1 {
    padding-top: 400px;
    margin: 0;
    width: 360px;
  }
  .para2 {
    padding-top: 40px;
    margin: 0;
    width: 360px;
  }
  .para3 {
    padding-top: 40px;
    margin: 0;
    width: 360px;
  }
}
