.heading2 {
  display: block;
  color: #1b4cb8;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  margin-top: 50px;
  text-align: center;
  padding-top: 0px;
}
h1 {
  font-weight: 900;
}
p {
  font-weight: 600;
}
.para1 {
  color: rgb(44, 44, 44);
  font-weight: 600;
  padding: 0 100px;
  margin-top: 50px;
  font-size: 22px;
  text-align: center;
  line-height: 32px;
}
.para1 b {
  color: #1b4cb8;
  font-weight: 900;
}
.para2 {
  color: rgb(44, 44, 44);
  padding: 0 100px;
  font-weight: 600;
  margin-top: 20px;
  line-height: 32px;
  font-size: 22px;
  text-align: center;
}
.para3 {
  color: rgb(44, 44, 44);
  font-weight: 600;
  margin-top: 20px;
  padding: 0 100px;
  line-height: 32px;
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}
.image_about {
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
@media only screen and (max-width: 960px) {
  .image_about {
    padding-top: 20px;
    margin: 0;
    width: 360px;
  }
  .para1 {
    padding-top: 400px;
    margin: 0;
    width: 360px;
  }
  .para2 {
    padding-top: 40px;
    margin: 0;
    width: 360px;
  }
  .para3 {
    padding-top: 40px;
    margin: 0;
    width: 360px;
  }
}
