.members {
  background-color: white;
}

.head1 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #1b4cb8;
  margin-top: 10px;
  text-align: center;
}
.head2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #1b4cb8;
  margin-top: 10px;
  text-align: center;
}
.classe {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
  font-weight: 400;
}
.state {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 15px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 700;
}
.state-exc {
  line-height: 35px;
}
.btn-submit:hover {
  cursor: pointer;
}
.learn2,
.learn1 {
  background-color: #1b4cb8;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.6s ease-out;
}
.learn2 {
  margin-top: 20px;
  margin-left: 140px;
}
.learn1 {
  margin-top: 25px;
  margin-left: 110px;
}
.learn1:hover {
  margin-left: 130px;
}
.learn2:hover {
  margin-left: 160px;
}
.events {
  background-color: white;
  width: 100%;
}
.heading5 {
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
  color: #1b4cb8;
  font-family: "Montserrat", sans-serif;
}

.carding {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.event1 {
  background-color: white;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
  border-radius: 20px;
  padding: 10px;
  margin-top: 30px;
  margin-right: 10px;
  width: 360px;
}
.event2 {
  background-color: white;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
  border-radius: 20px;
  padding: 10px;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.event2 btn {
  margin: 0;
}

.paragraph,
.salutation {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-left: 115px;
  align-self: center;
  color: rgb(44, 44, 44);
  justify-content: center;
  width: 82%;
  margin-right: 85px;
  line-height: 30px;
}
.salutation {
  margin-top: 50px;
}
.link_pdf {
  color: white;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
@media only screen and (max-width: 960px) {
  .paragraph,
  .salutation {
    margin: 0;
    width: 360px;
  }
  .carding {
    flex-direction: column;
  }
  .event1 {
    width: 360px;
  }
  .event2 {
    flex-direction: column;
  }
}
