.head1 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #1b4cb8;
  margin-top: 10px;
  text-align: center;
}
.head2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #1b4cb8;
  margin-top: 10px;
  text-align: center;
}
.classe {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
  font-weight: 400;
}
.state {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 15px;
  line-height: 25px;
  color: rgb(44, 44, 44);
  font-size: 18px;
  font-weight: 700;
}
.state-exc {
  line-height: 35px;
}
.btn-submit:hover {
  cursor: pointer;
}
.learn2,
.learn1 {
  background-color: #1b4cb8;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.6s ease-out;
}
.learn2 {
  margin-top: 20px;
  margin-left: 140px;
}
.learn1 {
  margin-top: 25px;
  margin-left: 130px;
}
.learn1:hover {
  transform: scale(0.9);
}
.learn2:hover {
  transform: scale(0.9);
}
.events {
  background-color: white;
}
.heading5 {
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
  color: #1b4cb8;
  font-family: "Montserrat", sans-serif;
}

.carding {
  display: flex;
  justify-content: center;
  align-items: center;
}
.event1 {
  max-width: 400px;
  max-height: 400px;
  box-sizing: border-box;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
  border-radius: 20px;
  padding: 10px;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.event2 {
  max-width: 400px;
  max-height: 400px;
  box-sizing: border-box;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
  border-radius: 20px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.event2 btn {
  margin: 0;
}

.paragraph,
.salutation {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  padding: 0 100px;
  text-align: center;
  color: rgb(44, 44, 44);
  line-height: 32px;
}
.paragraph b {
  color: #1b4cb8;
  font-weight: 900;
}
.salutation {
  margin-top: 50px;
}
.link_pdf {
  color: white;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 900;
}
@media only screen and (max-width: 960px) {
  .paragraph,
  .salutation {
    margin-left: 30px;
    text-align: justify;
    width: 350px;
    font-size: 18px;
    font-weight: 500;
    padding: 0;
  }
  .carding {
    flex-direction: column;
  }
  .event1 {
    margin: 10px;
    width: 350px;
    height: 400px;
  }
  .event2 {
    width: 350px;
    margin: 10px;
    height: 400px;
    flex-direction: column;
  }
  .state {
    font-size: 18px;
    font-weight: 500;
  }
  .learn2 {
    margin-left: 130px;
  }
  .learn2:hover {
    margin-left: 150px;
  }
}
