.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 11px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: 30%;
  border-radius: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .column {
    margin-top: 90px;
  }
}
/* @media only screen and (max-width: 960px) {
  .gallery {
    margin-top: 80px;
  }
  .gallery img {
    margin: 4px;
    padding: 0;
  }
} */
