.gallery {
  padding-top: 20px;
  margin: 10px 20px;
  overflow: hidden;
}
.gallery img {
  width: 400px;
  padding: 6px;
  transition: 0.5s;
  height: 300px;
  cursor: pointer;
  border-radius: 20px;
}
.gallery img:hover {
  filter: brightness(85%);
  transform: scale(1.02);
  object-fit: cover;
}
