.homeflex {
  display: flex;
  justify-content: center;
}
.heading1 {
  color: #1b4cb8;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 65px;
  margin-top: 100px;
  margin-left: 40px;
}
.description {
  position: absolute;
  top: 47%;
  left: 15%;
  font-family: "Montserrat", sans-serif;
  width: 30%;
  line-height: 30px;
  text-align: justify;
  font-weight: 600;
  color: rgb(71, 71, 71);
  font-size: 20px;
}
.home_img {
  width: 520px;
  padding: 0;
  margin-left: 50px;
}
.btn-register {
  background-color: #1b4cb8;
  padding: 10px;
  width: 10%;
  height: auto;
  border: none;
  outline: none;
  border-radius: 20px;
  position: absolute;
  left: 25%;
  top: 64%;
  transition: 0.6s ease-out;
  cursor: pointer;
}
.btn-register:hover {
  /* margin-top: -5px; */
  transform: scale(0.9);
}
.btn-register a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 960px) {
  .homeflex {
    margin: auto;
    flex-direction: column-reverse;
  }
  .home_img {
    margin-left: 20px;
    margin-top: 50px;
    width: 350px;
  }
  .description {
    text-align: justify;
    width: 350px;
    margin-left: 35px;
    font-size: 18px;
    margin-top: 20px;
    position: static;
    font-weight: 500;
  }
  .btn-register {
    width: 30%;
    position: static;
    margin-top: 20px;
    margin-left: 140px;
  }
  .btn-register:hover {
    margin-left: 160px;
  }
  .heading1 {
    margin-top: 40px;
    margin-left: 20px;
    /* padding: 40px 10px; */
    width: 350px;
    font-size: 60px;
    text-align: center;
  }
}
