.form > iframe {
  margin: 40px 330px;
}
.btn-discord {
  background-color: #1b4cb8;
  outline: none;
  border: none;
  border-radius: 10px;
  margin: 10px 510px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.btn-discord:hover {
  transform: scale(0.9);
}
.btn-discord a {
  font-size: 15px;
  text-decoration: none;
  color: white;
  font-weight: 900;
}
@media only screen and (max-width: 960px) {
  .form > iframe {
    margin: 10px;
    width: 350px;
  }
  .btn-discord {
    margin: 40px 40px;
  }
  .btn-discord:hover {
    margin-left: 60px;
  }
}
