* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
h1,
p {
  font-family: "Montserrat", sans-serif;
}
body::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #1b4cb8;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 960) {
  body {
    width: 100vw;
  }
}
