* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
h1,
p {
  font-family: "Montserrat", sans-serif;
}
body::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  /* background: #fff; */
  background: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #1b4cb8;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
body {
  height: 100vh;
}
/* @media screen and (max-width: 960px) {
  body {
    width: 100%;
  }
} */
